.block {
    background: rgb(199, 235, 17);
    width: 1300px;
    height: 100px;
    position: fixed;
    bottom: 100px;
    right: 400px;
    border-radius: 20px;
    left: 950px;
}

.ball {
    background: rgb(214, 149, 7);
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50%;
    left:15%;
    border-radius: 1000px;

}

.text {
    font-size: 30px;
    color: rgb(220, 12, 150); 
}