.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(241, 244, 246);
    border-bottom: 1px solid #2c0bb0;
}
.main-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
.main-nav a{
    text-decoration: underline;
    color: #de0b0b;
    font-size: 20px;
}
.logo{
    width: 70px;
    height: 70px;
    background-color: rgb(16, 103, 15);
}
.contact-phone{
    font-size: 20px;
    color: #f91111;
}