body{
    background: rgb(23, 5, 5);
}

.heading-with-balls {
    color: aliceblue;
    text-align: center;
    margin-top: 200px;
}
.heading-with-balls::before,
.heading-with-balls::after{
    content: '';
    position: absolute;
    top: 5px;
    width: 80px;
    height:80px;
    border-radius: 50%;
    transform: translateY(40px);
}
.heading-with-balls::before{
    left: 950PX;
    top: 129px;
    background-color: rgb(20, 224, 43);
    border-width:5px;
    border-style: solid;
    border-color: rgb(236, 235, 240);
}
.heading-with-balls::after{
    right: 950px;
    top: 130px;
    background-color: rgb(169, 20, 139);
    border-width: 5px;
    border-style:solid;
    border-color: azure;
}