.wrapper {
	display: grid;
	height: 100vh;
	grid-template-areas:
		"header header"
		"aside main"
		"footer footer";
	grid-template-columns: 200px 1fr;
	grid-template-rows: 60px 1fr 100px;
}

.header {
	grid-area: header;
	background-color: #ff4c2b;
	border-bottom: 2px solid;
}

.sidebar {
	grid-area: aside;
	background-color: #f0f03e;
}

.footer {
	grid-area: footer;
	background-color: #2b70ff;
}

.main-content {
	grid-area: main;
	background-color: #78c02a;
	padding: 100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat( 2fr);
	gap: 20px;
}

.card {
	background-color: #f08b10;
    height: 200px;
	width: 200px;
}



@media(max-width:768px) {
	.wrapper {
		grid-template-areas:
			"header"
			"aside"
			"main"
			"footer";
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	.main-content {
		grid-template-columns: 1fr;
	}
}